<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <form action="/signup" method="get">
        <input type="text" required name="username">
        <input type="text" required name="password">

        <button type="submit" name="btn">submit</button>
    </form> -->
    <h1>This is our signup page</h1>
    <form action="/signup" method="post">
        <input type="text" required name="username" placeholder="Enter your username"> <br/> <br/>
        <input type="text" required name="password" placeholder="Enter your password"> <br/><br/>
        <input type="text" required name="confirm_password" placeholder="Confirm your password"> <br/><br/>
        <input type="email" required name="email" placeholder="Enter your email"> <br/><br/>

        <button type="submit" name="btn">submit</button>
    </form>
</body>
</html>